.pet-profile-pic-show {
    
    img{
        border-radius: 10px;
        height: 700px;
        width: 700px;
        border: .1px solid rgb(0, 0, 0);
    }
    
}

.pet-show-entire-container {

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.pet-show-info-container {
    margin-left: 50px;
    height: 500px;
    width: 375px;

    .title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        font-weight: lighter;
    }

    .price {
        margin-top: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: bolder;
    }

    .owner {
        display: flex;
        flex-direction: row;

        .pet-link{
            margin-left: 5px;
            color: black;
        }
    }

    .precious {
        font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 13px;
    }

    .color-size-butts{
        font-size: 15px;
        font-kerning: 20px;
        font-weight: bold;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .adopt-button{
        width: 100%;
        height: 50px;
        border-radius: 50px;
        background-color: black;
        color: white;
        font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .basket-button{
        width: 100%;
        height: 50px;
        border-radius: 50px;
        background-color: white;
        color: black;
        font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    
    
    
}

.petpoint-stats{
        height: 700px;
        width: 130px;
        margin-right: 50px;
        text-align: center;

        .petnum {
            font-size: 50px;
        }

    }

.icons{
    display: flex;
    flex-direction: column;

    .icon-div{
        display: flex;
        flex-direction: row;
    }
}

.icon-big{
    margin-right: 10px;
}

.icon-footer{

    margin-left: 20px;
    margin-top: 20px;

}

.icon-footer-name{
    font-size: 20px;
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 20px;
    margin-top: 30px;
}

.basket{
    font-size: 15px;
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;

    margin-top: 5px;
}