// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// pet form

 * {
  margin: 0;
  padding: 0;
 }

.pet-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.pet-label {
    font-weight: normal;
    font-size: 13px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    margin-top: 10px;
    bottom: 81%;
    width: 380px;
    text-align: left;
    text-indent: 30px;
    bottom: 67%;
}

.pet-input {
    
    height: 47px;
    width: 320px;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.userPet {
    padding: 1%;
}


.userPetindex-Pos {
    
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    
}

.create-update-button {

    font-size: 16px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    background-color: black;
    color: white;
    margin-top: 30px;
    text-align: center;
    height: 47px;
    width: 320px;
    border-radius: 25px;
}

.create-update-header {
    margin-bottom: 11px;
    margin-left: 15px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    background-color: white;
    margin-right: 242px;
}

.modal-form-container{
    height: 600px;
}

.signin-register-head{

}