.profile-show{
    margin-top: 16px;
}


.userPet-Pos {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

.userPet {
    padding: 1%;
}



.pet-profile-pic {
    border-radius: 10px;
    height: 200px;
    width: 200px;
    border: .1px solid rgb(0, 0, 0);
}

.pet-ele-list {
    margin-top: 4px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-size: 14px;
}

#account-icon {
    font-size: 97px;
    margin-left: 35px;
    
}

.profile-box {
    display: flex;
    flex-direction: row;

}

.profile-name {
    margin-top: 47px;
    margin-left: -30px;
    font-size: 30px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
}

.profile-form-button {

    border-radius: 20px;
    height: 100px;
    width: 135px;
    margin-top: 25px;
    margin-left: 40px;
    font-size: 12px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    
}

.profile-form-button-two {
    margin-top: 5px;
    margin-right: 7px;
}
