
 * {
  margin: 0;
  padding: 0;
}
 .logo {
     display: flex;
     flex-direction: row;
     justify-content: left;
 }

 .r {
     display: flex;
     flex-direction: row;
     justify-content: right;
 }

 .si {
     display: flex;
     flex-direction: row;
     justify-content: right;
 }

 .modelbg{

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
 }

 .modelc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 500px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
}

.email-firstname-password-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

//SIGN IN MODAL

.email-signin {
    font-weight: normal;
    font-size: 13px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    position: fixed;
    bottom: 81%;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    text-indent: 30px;
}

.email-signin > .email-input-signin {
    height: 47px;
    width: 320px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    
}

.password-signin {
    font-weight: normal;
    font-size: 13px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    position: fixed;
    bottom: 70%;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    text-indent: 30px;
}




.password-signin > .password-input-signin {
    
    height: 47px;
    width: 320px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    
}

.row {
    display: flex;
    flex-direction: row;
}

.signin-button {
    font-size: 16px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    background-color: black;
    color: white;
    position: fixed;
    left: 29px;
    bottom: 55%;
    text-align: center;
    height: 47px;
    width: 320px;
    border-radius: 25px;
    
}

.modal-form-container-sess{
    display: flex;
    margin-top: -80px;
}

.space-1{
    margin-top: 25px;
}

.space-between{
    
    margin-bottom: 30px;
}

.guest-button {

    margin-top: 20px;
    font-size: 16px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    height: 47px;
    width: 320px;
    border-radius: 25px;
    
}

.register-button-sigin {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    background-color: white;
    position: fixed;
    top: 22px;
    left: 250px;
    bottom: 91%;
    text-align: center;
    height: 47px;
    width: 100px;
    border-radius: 25px;
}

.signin-header {
    font-weight: 500;
    font-size: 18px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
     background-color: white;
    position: fixed;
    left: 10px;
    bottom: 89%;
    text-align: center;
    height: 47px;
    width: 100px;
    
}

.errors {
    text-align: center;
    left: 70px;
    bottom: 1px;
    
}

//REGISTER MODAL

.email-register {
    font-weight: normal;
    font-size: 13px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    bottom: 78%;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    text-indent: 30px;
}

.email-register > .email-input-register {
    height: 47px;
    width: 320px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    
}

.first-name-register {
    font-weight: normal;
    font-size: 13px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    bottom: 67%;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    text-indent: 30px;
}

.first-name-register > .first-name-input-register {
    height: 47px;
    width: 320px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    
}



.password-register {
    font-weight: normal;
    font-size: 13px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    bottom: 56%;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    text-indent: 30px;
}

.password-register > .password-input-register {
    
    height: 47px;
    width: 320px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    
}



.signin-button-register {
      font-size: 16px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    background-color: black;
    color: white;
    bottom: 45%;
    text-align: center;
    height: 49px;
    width: 320px;
    border-radius: 25px;
    margin-left: 30px;
    margin-top: 30px;
}


.errors-reg {
    text-align: center;
    bottom: 30%;
    left: 35px;
    
}

.create-header-register {
    font-weight: 500;
    font-size: 20px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
     background-color: white;
    left: 27px;
    bottom: 94%;
    text-align: center;
    

}

.easy-header-register {
    font-weight: 300;
    font-size: 18px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
     background-color: white;
    left: 27px;
    bottom: 90%;
    text-align: center;
    
    

}



//top bar

.top-nav {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    margin-top: 11.2px;
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.top-nav-cats {
    
    font-size: 14px;
    font-weight: 300;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;   
    margin-top: 18px;

    .top-nav-cats-color{
        color: gray
    }
}

.first {
    margin-left: 10px;
}

.last {
    margin-right: 10px;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 37px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 15px;
    color: rgb(255, 102, 0);
}



#shopping-cart {
    
     margin-top: 15px;
    margin-right: 50px;
    font-size: 20px;

}

#link-sign-out{
    font-size: 15px;
    margin-top: 16px;
    margin-right: 40px;
    margin-left: 20px;
    text-align: center;
    width: 50px;
}

.links-nav{
    display: flex;
    flex-direction: row;

    .top-profile-icon{
        color: black;
    }

    .top-cart{
        color: black;
    }

    .top-sign-out{
         border: 0px;
        background-color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 13px;
        font-weight: 400;
        margin-top: 19px;
        margin-left: 15px;
        margin-right: 30px;
        width: 50px;
        color: black;
    }
}


#profile-icon{
    font-size: 25px;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 15px;
}




.search-bar {
    width: 100vw;
    height: 44px;
    align-items: center;
    border-radius: 40px;
    background-color: rgb(238, 238, 238);

    .search-bar-input {
        width: 100%;
        height: 100%;
        border-radius: 40px;
        background-color: rgb(238, 238, 238);
    }   
}




.sign-in-sign-put-top-nav {
    border: 0px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 400;
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 30px;
}

.link-sign-in-sign-put-top-nav {
    border: 0px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 400;
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 30px;
}

//greeting

.welcome {
    margin-right: auto;
    margin-right: left;
    text-align: center;
    line-height: -20px;
}

//search bar

.no-results{
    margin-top: 30px;
    color: rgb(172, 172, 172);
    display: flex;
    justify-content: center;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
}

//rating

.review-container{
    display: flex;
    justify-content: center;
    

    .review-form{
        height: 400px;
        width: 300px;
        align-self: center;

        .title{
        font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
        font-size: 14px;
        font-weight: bold;
        }


        .rating-div{
        input[type="radio"]{display: none;}
        color: black;
        display: flex;
        justify-content: center;
        }

        .text-window{
            width: 100%;
            height: 225px;
            text-align:start;
            
        }

        .adopt-button{
        width: 100%;
        height: 50px;
        border-radius: 50px;
        background-color: black;
        color: white;
        font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 20px;
        }

    }



    

}



    

